/********** Base styles **********/

h1 {
  font-family: 'Comic Sans MS';
	text-align: center;
 	margin: 50px;
}

p {
  font-family: 'Comic Sans MS';
  font-weight: 500;
  color: black;
  padding: 20px;
  margin: auto;
}

*{
  box-sizing: border-box;
}

.title {
  position: relative;
  float: right;
  padding: 5px 30px;
  margin: -1px;
  border: 1px solid black;
  font-family: 'Comic Sans MS';
  font-weight: 600;
}

/* Chicken section */
.chicken {
  background-color: #D59898;
}

/* Beef section*/
.beef {
  background-color: #C14543;
  color: white;
}

/* Sushi section */
.sushi {
  background-color: #E5D198;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.container{
  margin: 0 20px 0 20px;
} 


/********** Desktop View **********/
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
    border: 1px solid black;
  }

  .col-lg-4 {
    width: 30.33%;
  }
  
  .col {
  margin: 10px;
  background-color: #999999;
  }
}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6, .col-md-12 {
    border: 1px solid black;
  }

  .col-md-6 {
    width: 48%;
  }

  .col-md-12 {
    width: 98%;
    margin-top: 20px!important;
  }

  .row { 
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
  }

  .col {
    margin: auto;
    background-color: #999999;
  }


}

/********** Mobile View **********/
@media (max-width:767px) {
  .col {
    border: 1px solid black;
    margin: 20px;
    background-color: #999999;
  }
}
